/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #464646;
}

.header-icon {
    position: absolute;
    top: 15px; /* Ajuste conforme necessário */
    left: 60px; /* Ajuste conforme necessário */
    width: 200px; /* Ajuste o tamanho do ícone conforme necessário */
    height: auto; /* Mantém a proporção do ícone */
}

header {
    background-color: #202020;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #000000;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #202020;
    color: #fff;
    position: relative;
    width: 100%;
}